.bottom {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  grid-column: full-start / full-end;
  margin-top: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  fill: white;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
}
}
.bottom-p {
  text-transform: uppercase;
}
.bottom-icon-1 {
  fill: white;
  width: 4.5rem;
}
